.form {
  display: flex;
  flex: 1;
  height: 95vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form div {
  margin: 5px;
}

label {
  display: inline-block;
  text-align: right;
  width: 25px;
}

.result {
  flex: 1 1;
  background-color: lightgray;
  max-height: 120px;
  overflow: auto;
}

#array {
    background-color: lightblue;
}

#calculate:link,
#calculate:visited {
    text-decoration: none;
    color: black;
    display: block;
    background-color: lightblue;
    padding: 10px 20px;
    margin-top: 20px;
}
